.story__pictures {
  display: grid;
  grid-template-columns: repeat(6, [col-start] 16.66667% [col-end]);
  grid-template-rows: repeat(6, [row-start] 16.66667% [row-end]);
  min-height: 50vh;
  background: linear-gradient(rgba($color-pr, 0.5), rgba($color-pr, 0.5)),
    url(../img/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  & > * {
    display: block;
    object-fit: cover;
  }
  &--1 {
    grid-column: col-start 2 / -2;
    grid-row: row-start 2 / -2;
    width: 100%;
    height: 100%;
    @include responsive(800) {
      grid-column: col-start 2 / span 2;
      grid-row: row-start 2 / span 4;
    }
  }
  &--2 {
    grid-column: col-start 4 / span 4;
    grid-row: row-start 4 / row-end 5;
    z-index: 2;
    width: 115%;
    height: 115%;
    @include responsive(800) {
      width: 100%;
      height: 100%;
      grid-column: col-start 4 / span 2;
      grid-row: row-start 2 / span 4;
    }
  }
}
.story__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: $gutter-vertical 0;
  & > *:not(:last-child) {
    max-width: 75%;
    margin-bottom: $space-l;
  }
  .paragraph {
    color: $color-pd;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
  }
}
