*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; // Set 1rem = 10px (10/16*100)
  scroll-behavior: smooth;
  @include responsive(1250) {
    font-size: 57%;
  }
  @include responsive(1050) {
    font-size: 50%;
  }
}
body {
  box-sizing: border-box;
}
::selection {
  background: $color-sl;
  color: $grey-l1;
}
