//==========================================
// Color variables
//==========================================
$color-pl: #b28451;
$color-pr: #c69963;
$color-pd: #54483a;

$color-sl: #1f354e;
$color-se: #101d2c;

$black: #000000;
$white: #ffffff;

$grey-d1: #999999;
$grey-d2: #777777;
$grey-d3: #333333;

$grey-l1: #f9f9f9;
$grey-l2: #f1f1f1;
$grey-l3: #e1e1e1;

//==========================================
// Grid
//==========================================
$grid-width: 132rem;
$gutter-horizontal: 4rem; // grid horizontal margin/padding
$gutter-vertical: 6rem; // grid vertical margin/padding
$section-padding: 15rem 0;

//==========================================
// Box-Shadows
//==========================================
$shadow-s: 0.25rem 0.5rem 1rem rgba($grey-d3, 0.2);
$shadow-m: 0.25rem 0.5rem 1rem rgba($grey-d3, 0.5);
$shadow-l: 0.25rem 0.5rem 1rem rgba($grey-d3, 0.9);

//==========================================
// Transition
//==========================================
$transition-s: all 0.1s linear;
$transition-m: all 0.5s linear;
$transition-l: all 0.7s linear;

//==========================================
// Additional
//==========================================
$space-xs: 0.8rem;
$space-s: 1.2rem;
$space-m: 1.6rem;
$space-l: 2.8rem;
$space-xl: 4rem;
